*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header img{
    width: 200px;
    height: 200px;
    


}
h1{color:#C60155;
   text-align: center;
}
p{color: #C60155;}
body{background-color:#FDC0C0;}

header nav{
   background-color: white;
   }
 

header nav ul {
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #C70057;
}
header ul li{
    margin: 10px;
    display: inline-block;
    font-size: 20px
    }
.portada{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

    .portada img{
        width: 100%;
        height: 300px;
        
    }

.productos1{
    display: flex;
    justify-content: space-around;
}

.productos1 div{
    /*border: 2px gray solid;**/
    background-color: white;
    padding-bottom: 70px;
    width: 320px;
    height: 500px;
    text-align: center;
}    
    
.productos1 img{
    margin: 10px;
    width: 300px;
    height: 300px;
}
.productos1 a{
    background-color: blanchedalmond;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color: #C70057;
    text-size-adjust: 15px;
    }

.productos2{
    display: flex;
    justify-content: space-around;
}

.productos2 div{
    /*border: 2px gray solid;**/
    background-color: white;
    padding-bottom: 70px;
    width: 320px;
    height: 500px;
    text-align: center;
}    
    
.productos2 img{
    margin: 10px;
    width: 300px;
    height: 300px;
}
.productos2 a{
    background-color: blanchedalmond;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color: #C70057;
    text-size-adjust: 15px;
    }

    .productos3{
        display: flex;
        justify-content: space-around;
    }
    
    .productos3 div{
       /* border: 2px gray solid;**/
       background-color: white;
       padding-bottom: 100px;
        width: 320px;
        height: 400px;
        text-align: center;
        }    
        
    .productos3 img{
        margin: 10px;
        width: 300px;
        height: 300px;
    }
    .productos3 a{
        background-color: blanchedalmond;
        text-decoration: none;
        margin: 10px;
        padding: 10px;
        color: #C70057;
        text-size-adjust: 15px;
        }
    
    .productos4{
        display: flex;
        justify-content: space-around;
    }
    
    .productos4 div{
        /*border: 2px gray solid;**/
        background-color: white;
        padding-bottom: 70px;
        width: 320px;
        height: 400px;
        text-align: center;
        }    
        
    .productos4 img{
        margin: 10px;
        width: 300px;
        height: 300px;
    }
    .productos4 a{
        background-color: blanchedalmond;
        text-decoration: none;
        margin: 10px;
        padding: 10px;
        color: #C70057;
        text-size-adjust: 15px;        
        }
    
div p{
    margin: 30px;
    
}
div{
    margin: 20px;
}
label{color: #C70057;
     
}

.contacto{
    text-align: center;
    align-items: center;
}

footer{
    background-color: white;
    display: flex;
    justify-content: center;
}
footer img{
    height: 50px;
}
.nav-link{
        color: #C60155;
}




@media screen and (max-width:700px){
.productos1{
flex-direction: column;
align-items: center;
}
}
@media screen and (max-width:700px){
    .productos2{
    flex-direction: column;
    align-items: center;
    }
    }
 @media screen and (max-width:700px){
        .productos3{
        flex-direction: column;
        align-items: center;
        }
        }
        @media screen and (max-width:700px){
            .productos4{
            flex-direction: column;
            align-items: center;
            }
            }
            @media screen and (max-width:425px){
                .portada{
                display: none;
                }
                }
    
.productos1 a:hover{
background-color: #C60155;
color: white;
}

.productos2 a:hover{
    background-color: #C60155;
    color: white;
}

.productos3 a:hover{
background-color: #C60155;
color: white;
}

.productos4 a:hover{
    background-color: #C60155;
    color: white;
    }